<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width">

<title>[1] PTR 2022 Hack this site</title>
<link rel="stylesheet" href="s/styleBSidesTheme.css" type="text/css" media="screen">
<link rel="stylesheet" href="s/styleHts.css" type="text/css" media="screen">
<link rel="shortcut icon" type="image/png" href="s/faviconGreen.png"/>
</head>
<body>
    <div class="mainWrap">

        <div class="block txtCenter borderBottom">
            <h1>Hack this site</h1>
            <h2>Poletni tabor računalništva 2022</h2>
        </div>

        <div class="block txtCenter mt4">
            <h1>9. Izziv: Reverse square law</h1>
            <p>
              Ker WiFi ni več varen, zaradi velikega porasta udeležencev, so se mentorji odločili, da bojo sporočila pošiljali kar na roke. Udeleženci so enega izmed sporočil našli v smeteh skupaj s ključem in pa tudi pravilom za kodiranje. Z nasmeškom so se lotili dekodirati, saj to zagotovo ne bo teško z vsemi temi podatki!
            </p>
						<pre>
Key: [98, 118, 169, 224, 59, 206, 181, 154, 121, 32, 169, 154, 202, 118, 214, 74, 92, 118, 106, 83, 212, 146, 172, 218, 251]
Message: f95dde1cd0bfb69473ce496e6cbceb497dbc2715c61e3e717b

Rule: encrypted[i] = (message[i] * key[i]) % 255
						</pre>
        </div>
        <div class="block txtCenter mt4">
            <p>
                <form method="POST" autocomplete="off">
                    <input type="text" name="flag" autofocus />
                    <input type="submit" name="submit" value="Preveri" />
                </form>
            </p>
        </div>
    </div>

</body>
</html>
