<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width">

<title>[1] PTR 2022 Hack this site</title>
<link rel="stylesheet" href="s/styleBSidesTheme.css" type="text/css" media="screen">
<link rel="stylesheet" href="s/styleHts.css" type="text/css" media="screen">
<link rel="shortcut icon" type="image/png" href="s/faviconGreen.png"/>
</head>
<body>
    <div class="mainWrap">

        <div class="block txtCenter borderBottom">
            <h1>Hack this site</h1>
            <h2>Poletni tabor računalništva 2022</h2>
        </div>

        <div class="block txtCenter mt4">
            <h1>7. Izziv: Kva pa je to?</h1>
            <p>
                Naši inžinirji so izumili visoko prefinjen algoritem za premetavanje črk. Ker so se hoteli braniti kraje so kodo prav tako močno premetali,
                tako da je ljudje ne morejo brati vendar računalniki pa jo še vedno lahko. 

                <br>Namig: flag ki je v primeru spodaj premetan je <code>to_je_testni_flag</code>

                <br>Naš dejanski premetani flag pa se glasi: <br>
                <code>g0sye8dsletbfckasekip2j1sepcmeabetsiz5enaib2uwzu5y33lujndoat8meaolao1l38dmla34</code>

                <br>Tukaj pa je še premetana koda. Srečno! <br>
                <a href="/s/encrypt.js">Link do kode</a>
            </p>
        </div>
        <div class="block txtCenter mt4">
            <p>
                <form method="POST" autocomplete="off">
                    <input type="text" name="flag" autofocus />
                    <input type="submit" name="submit" value="Preveri" />
                </form>
            </p>
        </div>
    </div>

</body>
</html>
